@use "../common/mixin.scss" as *;
@use "../common/fonts.scss" as *;
@use "../common/variables.scss" as *;

.header {
  margin-bottom: 2.5rem;
  padding-top: 2.8125rem;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.9375rem;
}

.header__logo-box {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
}

.header__title {
  @include title-basic($main-font, $white);
}

.header__time {
  margin: 0;
  margin-left: auto;
  font-size: 1.1875rem;
  font-weight: 600;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.header__item {
  display: flex;
  justify-content: center;
  position: relative;

  &--current::after {
    content: "";
    position: absolute;
    bottom: -0.7rem;
    width: 120%;
    height: 0px;
    border: 2px solid #695d5d;
  }
}

.header__button {
  @include button-reset($white);

  font-size: 1.25rem;
  font-weight: 300;

  &--current {
    font-weight: 700;
  }
}

.header__toggle-wrapper {
  width: 7.5rem;
  display: flex;
  justify-content: space-between;
  gap: 0.3125rem;
}

.header__temperature {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
}

.header__toggle {
  @include button-reset($white);

  position: relative;
  width: 5rem;
  height: 1.7rem;
  border-radius: 22px;
  border: none;
  background-color: transparent;
  outline: none;
  background: linear-gradient(90deg, #33e017 0%, rgba(149, 241, 134, 0) 100%);
  cursor: pointer;
  transition-duration: 300ms;

  &::before {
    content: "";
    position: absolute;
    left: 4px;
    top: 50%;
    width: 1.5625rem;
    height: 1.5625rem;
    background-color: $black;
    border-radius: 100%;
    transform: translateY(-50%);
    transition-duration: 300ms;
  }

  &--on::before {
    left: 35px;
  }
}
