@use "../common/mixin.scss" as *;
@use "../common/fonts.scss" as *;
@use "../common/variables.scss" as *;

$width-temperature-box: 400px;
$mobile-width: 576px;

.hero__container {
  margin-bottom: 4.375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__search {
  margin: 0;
  margin-bottom: 40px;
  max-width: 44.6875rem;
  width: 100%;
}

.hero__form {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    left: 18px;
    top: 5px;
    background-image: url("../../icons/search_.svg");
    background-repeat: no-repeat;
  }

  @media (max-width: $mobile-width) {
    &::before {
      top: 0;
    }
  }
}

.hero__input {
  padding: 0.625rem 3.75rem 0.625rem 4.375rem;
  width: 100%;
  font-family: $main-font;
  font-size: 1.5625rem;
  font-weight: 300;
  color: #524e4e;
  border-radius: 25px;
  background: #d9d9d9;
  outline: none;

  @media (max-width: $mobile-width) {
    font-size: 20px;
  }
}

.hero__input-error {
  margin-top: 5px;
  padding-left: 75px;
  display: block;
  font-family: $main-font;
  font-size: 18px;
  border-radius: 10px;
  color: red;

  &--hidden {
    color: $black;
  }
}

.hero__weather-wrapper {
  padding: 2.1875rem 1.75rem 0.625rem;
  width: 100%;
  max-width: 50.9375rem;
  border-radius: 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25),
    0 4px 4px 0 rgba(255, 250, 250, 0.25), 0 4px 4px 0 rgba(253, 245, 245, 0.25);
  background: linear-gradient(147deg, #ad36cb 26.56%, #333 68.75%);
}

.hero__box {
  margin-bottom: 3.125rem;
  display: flex;

  @media (max-width: $mobile-width) {
    margin-bottom: 10px;
    flex-direction: column;
  }
}

.hero__location-box {
  display: flex;
  flex: 0 1 0;
  flex-direction: column;
  justify-content: space-between;
}

.hero__location {
  margin: 0;
  font-size: 1.875rem;
  font-weight: 300;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    right: -40px;
    background-image: url("../../icons/location.svg");
    background-repeat: no-repeat;
  }

  @media (max-width: $mobile-width) {
    &::before {
      right: 80px;
    }
  }
}

.hero__date {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: underline;
}

.hero__temperature-box {
  margin-inline: max(15px, (100% - $width-temperature-box) / 2);
  display: flex;
  gap: 0.625rem;

  @media (max-width: $mobile-width) {
    margin: auto;
  }
}

.hero__temperature {
  margin: 80px 0;
  font-size: 4.375rem;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 63px;
    left: -30px;
    top: -15px;
    background-image: url("../../icons/termometr.svg");
  }

  @media (max-width: $mobile-width) {
    font-size: 50px;
  }
}

.hero__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 0.625rem;

  @media (max-width: $mobile-width) {
    gap: 5px;
  }
}

.hero__item {
  text-align: center;
}

.hero__weather-data {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;

  @media (max-width: $mobile-width) {
    font-size: 16px;
  }
}

.hero__weather-parameter {
  margin: 0;
  font-size: 1.375rem;
  font-weight: 500;
}
