@use "./mixin" as *;

$main-font: "Poppins", "Arial", sans-serif;

@include font-face(
  "Poppins",
  300,
  normal,
  url("@/fonts/Poppins-Light.woff2") format("woff2")
);

@include font-face(
  "Poppins",
  400,
  normal,
  url("@/fonts/Poppins-Regular.woff2") format("woff2")
);

@include font-face(
  "Poppins",
  500,
  normal,
  url("@/fonts/Poppins-Medium.woff2") format("woff2")
);

@include font-face(
  "Poppins",
  600,
  normal,
  url("@/fonts/Poppins-SemiBold.woff2") format("woff2")
);
